# Домашняя работа

In [68]:
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

In [69]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

## Easy
Для данных с Титаника обучить модели логистической регрессии на 80% обучающей выборки и проверить результат на 20%. Вывести accuracy.

In [70]:
df = pd.read_csv(r'E:\Курсы Питон\train.csv')
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [71]:
df = df[['Age', 'Pclass', 'Fare', 'Survived', 'Sex']].dropna(axis=0, how='any')
x_df = pd.DataFrame(df[['Age', 'Pclass', 'Fare', 'Survived']])
x_df

      Age  Pclass     Fare  Survived
0    22.0       3   7.2500         0
1    38.0       1  71.2833         1
2    26.0       3   7.9250         1
3    35.0       1  53.1000         1
4    35.0       3   8.0500         0
..    ...     ...      ...       ...
885  39.0       3  29.1250         0
886  27.0       2  13.0000         0
887  19.0       1  30.0000         1
889  26.0       1  30.0000         1
890  32.0       3   7.7500         0

[714 rows x 4 columns]

In [72]:
y_df = np.ravel(pd.DataFrame(df['Sex']))

In [73]:
x = x_df
y = y_df
x = (x - x.mean()) / x.std()

In [78]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8)

In [79]:
model = LogisticRegression(max_iter=1000)
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

In [81]:
df_confusion = confusion_matrix(y_test, y_pred)
df_confusion

array([[40,  7],
       [14, 82]], dtype=int64)

In [80]:
print(accuracy_score(y_pred, y_test))

0.8531468531468531